# This file tells git what files to ignore when staging commits.
# Lines that start with '#' are comments.
#
# See https://help.github.com/articles/ignoring-files/ for more info.
#
######################################################################

# The popular text editor `vi` and its derivatives (like `vim`) make
# files with this extension when auto-saving files being edited.
*.swp

# Another popular text editor, `emacs`, also produces backup files
# automatically. These end in the `~` character.
*~

# Mac OS X makes these files to hold Finder window settings.
# See https://en.wikipedia.org/wiki/.DS_Store for more info.
.DS_Store

# We maintain several Vagrant projects as practice labs or other
# instructional material. When a Vagrant project is started, a folder
# named `.vagrant` is created to store metadata associated with that
# project. These are generated automatically, so we never want to
# commit them into this repository. They are therefor ignored here.
.vagrant

# Numerous processes may create log files. We don't care about these.
*.log

# In a number of Vagrant provisioning scenarios, we use pre-defined
# Ansible roles that are defined externally. These are downloaded on-
# demand, and so are not needed in this repository itself.
**/provision/roles
